nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.active{
    background-color: #0088cc;
}
nav ul li a:not(.active):hover{
    background-color: #172554;
}
nav .title{
    font-size: 2.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.2rem;
}
.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

@media (max-width: 480px) {
    .dropdown-item{
        padding: 0.25rem 3rem !important;
    }
    nav .menu{
        display: flex;
        top: 1.75rem;
        right: 1.5rem;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul.open{
        display: flex;
        background-color: #0f172a;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: 1.2rem 1.5rem;
    }
}
