.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbaralign {
  width: 30%;
  font-size: 45px;
  font-weight: 500;
  color: blueviolet;
}

.navbar {
  height: 100px;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.homeimage {
  background-size: cover;
  /* background-repeat: repeat; */
  background-color: rgba(0, 0, 0, 0);
  background-image: url(./images/hcd0nepd.png);
  background-attachment: scroll;
  min-width: 100%;
  height: 500px;
}

.textmargin {
  margin-left: 10px;
}

.textfont {
  font-size: 42px;
  color: #ffffff;
  line-height: 50px;
  font-family: Open Sans;
  font-weight: 600;
  font-style: normal;
}

.textcolor {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

.marginclient {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margintop {
  margin-top: 100px;
}

.nav-item a:active {
  background-color: #0088cc;
  color: white;
}
.nav-item a:hover{
  background-color: #0088cc;
  color: white;
}
